*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #212529;
  background-color: #f3f3f3;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  padding: 40px 0;
}

header nav.logo {
  text-align: center;
  margin-bottom: 40px;
}

header nav.logo img {
  width: 150px;
  border-radius: 100%;
  border: #212529 solid;
}

header nav.logo h1 {
  font-size: 3.2rem;
}

header nav.logo p {
  font-size: 2.4rem;
  color: #9b9b9b;
}

header nav.form form label {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

header nav.form form label .search-bar {
  width: 70%;
  height: 40px;
  line-height: 40px;
  background: #fff;
  padding: 0 20px;
  border-radius: 100px;
  border: none;
  text-align: center;
  font-size: 1.6rem;
}

header nav.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header nav.links a {
  text-decoration: none;
  color: #9b9b9b;
  margin: 10px 20px;
  font-size: 1.8rem;
  font-weight: 700;
}

header nav.links a.active,
header nav.links a:hover {
  transition: 0.3s ease all;
  color: #212529;
}

/* Grid */
.grid {
  position: relative;
  width: 100%;
  /*  */
  /*  */
}

.grid .item {
  position: absolute;
  display: block;
  padding: 0;
  margin: 10px;
  width: calc(33.333333% - 20px);
}

.grid .item-content {
  position: relative;
}

.grid .item .item-content img {
  width: 100%;
	cursor: pointer;
	vertical-align: top;
  border-radius: 10px;
}

/* Footer */
footer .social {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer .social a {
  display: block;
  width: 32px;
  height: 32px;
  background: #9b9b9b;
  color: #f3f3f3;
  margin: 10px;
  text-align: center;
  border-radius: 100px;
  transition: 0.3s ease all;
}

footer .social a:hover {
  background: #212529;
}

footer .social a i {
  font-size: 20px;
  line-height: 32px;
}

footer .icon-container:hover a {
  animation: icon 0.5s ease;
}

@keyframes icon {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

footer .created-by {
  font-size: 1.6rem;
  text-align: center;
  color: #9b9b9b;
}

footer .created-by a {
  text-decoration: none;
  color: #9b9b9b;
}

footer .created-by a:hover {
  text-decoration: underline;
  color: #212529;
  transition: 0.3s ease all;
}
